include includes/char.pug

h1 Richard Kruspe
+char('ДЕНЬ РОЖДЕНИЯ:') 24 июня 1967 года
+char('МЕСТО РОЖДЕНИЯ:') Витенбург
+char('ЦВЕТ ВОЛОС:') светло-коричневый
+char('ЦВЕТ ГЛАЗ:') голубой
+char('РОСТ:') 180 см
+char('ВЕС:') 88 кг
+char('ГРУППЫ ДО RAMMSTEIN:') Orgasm Death Gimmick
+char('СЕМЬЯ:') Родился также, как и Христов в многодетной семье. Это отличительная черта немецких граждан, они свято пополняют своё государство новыми гражданами. Кроме него, в семье было ещё две дочери и один сын. Да, маловато будет, могло быть и больше. Мама также оказалась беспокойной девицей и, в один прекрасный день и она развелась, а в последствии, под веениями немецкой моды, вторично вышла замуж, чем обрекла маленького Рихарда на великие мучения. В общем садисткой была мамочка. В детстве Рихард и робким мальчиком, за что его все дразнили и доводили до слёз - садисты - что и послужило причиной тому, что в юности он усиленно занимался спортом и накачал довольно-таки внушительную мышечную массу. На сегодняшний момент он женат уже второй раз - о первой жене Рихарда ничего не известно, зато вторая объявилась 29 октября 1999 года. Не менее интересным и загадочным остаётся другой факт его жизни - у него есть дочь, которую зовут Khira Li Lindemann (Live Aus Berlin - песенка Tier), которая не так давно числилась дочерью другого человека, но судьба распорядилась иначе и теперь она чудом обрела нового отца, а возможно и двоих сразу. Она родилась 1992 году, фамилия девочке досталась от матери.
+char('ОСОБЫЕ ПРИМЕТЫ:') Серьга в правом ухе.
+char('РАЗНОЕ:') Кроме новоявленной дочери, ему преписывается также и другое имя - RAMMSTEIN славиться псевдонимами. Его настоящее имя Sven, причина, по которой он его поменял, неизвестна, Супруга Рихарда проживает в Нью-Йорке, а сам он в это время наслаждается жизнью вместе с менеджером Rammstein, живут они счастливо в Берлине в доме, адрес которого тщательно скрывается. Кроме этого, он был чемпионом Реслинга, работал кассиром в пункте приема бутылок, слушает Kiss, AC/DC, Black Sabbath и многое другое, Будучи скромным и стеснительным ребёнком, он успел получить свой первый сексуальный опыт в 13 лет, подробности не известны. Он прекрасно говорит по-английски, так как изучением английского они занимались вместе со Шнайдером, т.е. из журналов и радио. Но, несмотря на все его достоинства, он до сих пор ужасно боится большие скопления людей, а также панически боится выступать перед большой аудиторией, что его насильно выпихивают на сцену. Песенка "Engel" - его личная заслуга.