include includes/char.pug

h1 Christian Flake Lorenz
+char('ДЕНЬ РОЖДЕНИЯ:') 16 ноября 1966 года
+char('МЕСТО РОЖДЕНИЯ:') Берлин
+char('ЦВЕТ ВОЛОС:') блондин
+char('ЦВЕТ ГЛАЗ:') голубой
+char('РОСТ:') 190 см
+char('ВЕС:') 73 кг
+char('ГРУППЫ ДО RAMMSTEIN:') Feeling B
+char('СЕМЬЯ:') Кроме него в семье были два брата. Разведён, есть дочь Аня
+char('РАЗНОЕ:') Очень хорошо образован: имеет звание доктора, чем заслужил большое уважение товарищей, так как ни один из них не подходил к высшему учебному заведению ближе чем на 10 метров и то только потому, что оно находилось по дороге к бару. Быть может это заставило Кристиана все же проучится в нем n-ое количество лет, так как его основным увлечением в жизни является неограниченное употребление алкоголя. Ко второму своему хобби-танцам Кристиан относится более спокойно. Он разбирается во многих стилях и направлениях, но до сих пор не выбрал для себя оптимального, он предпочитает синтез этнических плясок с очень модным ныне направлением модерн. Результаты своих исканий он любит демонстрировать на живых концертах, что с восторгом встречается поклонниками и служит причиной причисления группы некоторыми оригинальными журналистами к танцевальному року.