include includes/char.pug

h1 Oliver Riedel
+char('ДЕНЬ РОЖДЕНИЯ:') 11 апреля 1971 года
+char('МЕСТО РОЖДЕНИЯ:') Schwerin
+char('ЦВЕТ ВОЛОС:') Тёмный
+char('ЦВЕТ ГЛАЗ:') Тёмный
+char('ВЕС:') 84 кг
+char('РОСТ:') 200 см
+char('СЕМЬЯ:') Он жил вместе со своим отцом и братом, познакомился со своей матерью только в 16 лет. Бедный ребёнок. Его отец и брат умерли за 2 дня до его 17-го дня рождения. Работал в ресторане, что не мешало подрабатывать штукатуром-маляром.
+char('ОСОБЫЕ ПРИМЕТЫ:') Где-то есть татуировка, предположительно в самом укромном месте. Но даже наличие татуировки не избавляет Оливера от полного игнорирования его окружающими.
+char('РАЗНОЕ:') Песенка Seemann - это полностью его заслуга, он лучший друг Полика, что очень странно, так как чаще всего он был замечен за беседами с Домиком (Doom- nickname Кристофа). Хотя беседами назвать это трудно, потому что говорит в основном Кристоф, а Оливер ограничивается лишь монотонным: "Угу!" Активно занимается спортом (предпочитает экстремальные виды, неоднократно травмировался, высказывают предположения, что может быть, поэтому он так немногословен) Увлекается фоторгафией, его работы мы можем лицезреть на официальном сайте RAMMSTEIN. Очень спокоен и замкнут.