include includes/char.pug

h1 Christoph "DOOM" Shneider
+char('ДЕНЬ РОЖДЕНИЯ:') 11 мая 1966 года
+char('МЕСТО РОЖДЕНИЯ:') Берлин
+char('ЦВЕТ ВОЛОС:') очень тёмный
+char('ЦВЕТ ГЛАЗ:') голубой
+char('РОСТ:') 193 см
+char('ВЕС:') 84 кг
+char('ГРУППЫ ДО RAMMSTEIN:') Die Firma
+char('СЕМЬЯ:') Родиться это создание угораздило в многодетной семейке, где кроме него было еще 6 детишек, из них 5 сестренок и старший братишка , а вот папули у них, сироток, не было. Он также как и Полик разведен, о детях умалчивает.
+char('ОСОБЫЕ ПРИМЕТЫ:') Отсутствуют
+char('РАЗНОЕ:') Первые барабаны были б/у и достались ему от старшего брата, когда ему исполнилось 14 лет. Лишь совсем недавно он расстался со своей любимой установкой. Это произошло по настоятельной просьбе его коллег. Причина такой их настойчивости до сих пор не известна. Работал в телефонной компании, конкретное занятие выясняется до сих пор. Он очень упрямый и несговорчивый гражданин, но как утверждают некоторые источники - еще не до конца потерянный для общества человек. Кроме этого, он сам занимается проектировкой своей одежды, о чем свидетельствует, вероятно, его фамилия. Он единственный из Rammstein, кто служил в армии. Он прекрасно говорит по-английски, чему научился, слушая радио и глядя MTV. Как сообщают довольно-таки искушенные в этом вопросе источники, он очень любит выпивать вместе с Поликом, так как остальные члены группы избегают его общество в эти моменты. Изрядно напившись, они весело смеются и бьют себя по бедрам. Концертную одежду ему шьет его любимая сестричка Констанц, так как он, вероятно, сам себе боится ее шить.