include includes/char.pug

h1 Till Lindemann
+char('В RAMMSTEIN:') Вокал, пишет тексты песен
+char('ДЕНЬ РОЖДЕНИЯ:') 4 января 1963 года
+char('МЕСТО РОЖДЕНИЯ:') Leipzig, но вырос он в Шверине
+char('ЦВЕТ ВОЛОС:') коричневый
+char('ЦВЕТ ГЛАЗ:') голубой
+char('РОСТ:') 184 см
+char('ВЕС:') 85-90 кг. Вес меняется в зависимости от обилия питания
+char('ГРУППЫ ДО  RAMMSTEIN:') First Asche
+char('СЕМЬЯ:') В начале своей жизни он жил вместе с родителями и сестрёнкой, которая на 6 лет младше его самого. Родители были возвышенные натуры, оба художники, жили в деревне, рисовали пейзажи, в общем, нормальная немецкая семья, вот только многодетством она не отличалась. Отношения с отцом были очень плохими, но подробности утаиваются. Папаша - поэт, художник, имел обыкновение побивать своего сына, что свойственно людям данной профессии. Родители, естественно, развелись, и когда ему было 12 его мама повторно вышла замуж за американца. Он был не менее странным ребёнком, но в отличие от Рихарда, завёл себе подружку только в 18 лет. Отец его умер в ноябре 1992 года, от сильного перепоя, случилось это в церкви, что он там делал не известно. К папе на могилку сынок так и ни раз не съездил, за этим неустанно следят. Существует версия согласно которой песня Heirate Mich посвящается его отцу.
p Сейчас у него две дочери и внук от старшей дочери. Старшую зовут Nele, с её матерью они развелись, когда девочке было 7 лет. Младшую дочь Тиля зовут Мария-Луиза.
+char('ОСОБЫЕ ПРИМЕТЫ:') Проколотое левое ухо, пирсинг на левой брови и татуировка на попке.
+char('РАЗНОЕ:') В молодости плёл корзинки, но много ли этим зарабатывал - не известно. В 1978 году был членом сборной ГДР на Европейских соревнованиях по плаванию. В 80 году должен был участвовать на олимписких играх в Москве, но бы исключен из сборной изза неподобающего поведения на соревнованиях в Италии. Тиль тогда сбежал из отеля и направился в секс шоп. Позже плавание забросил, так как повредил мускул на животе. Иногда носит очки, и имеет дома аквариум с рыбками. Первый раз занимался сексом в стогу сена в 16 лет, видимо, писала пострадавшая, так как за это чуть не был брошен в тюрьму. В жизни он очень тих. Выпустил сборник своих стихов «Messer»