mixin menu(to)
	- const items = global.menuItems.filter(item => item.id != to)
	- for (let i = 0, l = items.length; i < l; i++)
		- const item = items[i]
		- if (i > 0)
			label |
		a(href=item.url)= item.desc
