include includes/head.pug
include includes/footer.pug
include includes/top-menu.pug

mixin bio-banner(imgSrc, url)
	a.column.column-3.bio-poster(href=url)
		.bio-photo(style=`background-image: url(${imgSrc})`)
		.bio-name
			block

doctype html
html
	+head('Rammstein - биографии участников')
	body
		+add-footer
			+top-menu('bio')
			.outer-container
				- for (const member of members)
					+bio-banner(member.photo, member.url)
						- for (const row of member.name)
							span= row
